html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}
.container {
    max-width: 700px;
}

img {
    max-width: 100%;
}

/*apply accent colour to links*/
a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}


/*home page*/
.intro {
    transform: translateY(22vh);
}
.column {
    flex: 1;
}


.intro .profile {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
}

.intro h1 {
    color: #212121;
    font-size: 12vh;
    margin-top: 0px;
}

.intro h2 {
    color: #757575;
    font-size: 3vmin;
    margin-top: 0px;
}

.intro p {
    margin-top: 2vh;
}





/*navigation bar icons*/
.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/
.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}


/*footer*/
footer {
    border-bottom: var(--border-width) solid var(--accent);
}

footer .fa {
    margin: 0px 1.25vw;
}

.copyright {
    margin: 15px 0;
    font-size: small;
    line-height: 1.1;
}

.logo {
    max-height: 2.5rem;
    max-width: 8rem;
    display: inline;
}


/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}


